* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.parent {
    flex-wrap: wrap;
    height: 1200px;
    padding: 30px;
    position: relative;
    box-shadow: 4px -4px 17px -1px #3556ff,
    -4px -4px 17px -1px #3556ff;
}

.top {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 40px 40px 0 0;
    height: 50%;
    /*box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);*/
    /*box-shadow: 4px -4px 6px -1px #3556ff,*/
    /*-4px -4px 6px -1px #3556ff;*/
}

img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.top::before {
    content: "";
    height: 26px;
    background: #88a4f7;
    width: 100%;
    display: inline-block;
    bottom: -13px;
    position: absolute;
}

.bottom {
    max-width: 100%;
    height: 50%;
    background: #c7ccdc;;
    width: 100%;
    border-radius: 0 0 40px 40px;
    /*box-shadow: 4px 4px 17px -1px #3556ff,*/
    /*-4px 4px 17px -1px #3556ff;*/
    position: relative;
    text-align: center;
}

.bottom img {
    height: 40%;
    transform: translate(-50%, -50%);
    width: 20%;
    position: absolute;
    border-radius: 50%;
    border: 16px solid #88a4f7;
}
ul{
    justify-content: space-around;
    list-style: none;
}
li{
    padding-top: 150px;
    /*text-align: center;*/
    color: #716c6c;
}
button{
    background: #1D92FF;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 20px;
    border: 3px solid rgba(202, 197, 197, 0.14);
    padding: 10px 57px;
    margin-top: 60px;
}